@import '~styles/variables';

@min-space: 8px;
@mid-space: 16px;
@lg-space: 24px;

.main {
  display: flex;
  gap: @mid-space;
  padding: 0 @mid-space;

  .left-side {
    width: 380px;
    min-width: 0;
    padding-right: @mid-space;
  }

  .right-side {
    flex: 1;
    min-width: 0;
  }
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    gap: 0;
    padding: 0 12px;

    .left-side {
      width: 100%;
      padding-right: 0;
    }

    .right-side {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .main {
    padding: 0 8px;
  }
}
